{% extends 'base.html' %}
{% block content %}
<html lang="ko">
    <main>
        <div class="row g-6" data-path="0.0.1">
            <div class="col-12 col-md-6 col-lg-3" data-path="0.0.1.0">
                <a href="#" data-path="0.0.1.0.0">
                    <div class="position-relative mw-100" data-path="0.0.1.0.0.0">
                        <img class="w-100 rounded-3" src="/static/woman.jpg" alt data-config-id="auto-img-1-1" data-path="0.0.1.0.0.0.0">
                        <div class="position-absolute bottom-0 start-0 w-100 rounded-3" data-path="0.0.1.0.0.0.1.0">
                            <div class="p-2" data-path="0.0.1.0.0.0.1.0">
                                <div class="bg-black bg-opacity-75 p-4 w-100 rounded-3" data-path="0.0.1.0.0.0.1.0.0">
                                    <span class="d-inline-blockfs-20 fw-medium text-secondary-light text-white mb-0" style="letter-spacing: 1px;" data-config-id="'auto-txt-1-1" data-path="0.0.1.0.0.0.1.0.0.0">건강 보조제 추천</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-12 col-md-6 col-lg-3" data-path="0.0.1.1">
                <a href="#" data-path="0.0.1.1.0">
                    <div class="position-relative mw-100" data-path="0.0.1.1.0.0">
                        <img class="w-100 rounded-3" src="/static/pills_cup.jpg" alt data-config-id="auto-img-2-1" data-path="0.0.1.1.0.0.0">
                        <div class="position-absolute bottom-0 start-0 w-100 rounded-3" data-path="0.0.1.1.0.0.1">
                            <div class="p-2" data-path="0.0.1.1.0.0.1.0">
                                <div class="bg-black bg-opacity-75 p-4 w-100 rounded-3" data-path="0.0.1.1.0.0.1.0.0">
                                    <span class="d-inline-blockfs-20 fw-medium text-secondary-light text-white mb-0" style="letter-spacing: 1px;" data-config-id="'auto-txt-2-1" data-path="0.0.1.0.0.0.1.0.0.0">오늘의 약 성분</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-12 col-md-6 col-lg-3" data-path="0.0.1.2">
                <a href="{{ url_for('question._list') }}" data-path="0.0.1.2.0">
                    <div class="position-relative mw-100" data-path="0.0.1.2.0.0">
                        <img class="rounded-3" src="/static/images.jpg" alt data-config-id="auto-img-3-1" data-path="0.0.1.2.0.0.0">
                        <div class="position-absolute bottom-0 start-0 w-100 rounded-3" data-path="0.0.1.2.0.0.1">
                            <div class="p-2" data-path="0.0.1.2.0.0.1.0">
                                <div class="bg-black bg-opacity-75 p-4 w-100 rounded-3" data-path="0.0.1.2.0.0.1.0.0">
                                    <span class="d-inline-blockfs-20 fw-medium text-secondary-light text-white mb-0" style="letter-spacing: 1px;" data-config-id="'auto-txt-3-1" data-path="0.0.1.2.0.0.1.0.0.0">Q&A 게시판</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
        </div>
    </main>
</html>

{% endblock %}