{% extends 'base.html' %}
{% block content %}
<html>
    <body>
    <div class="ml-4">
        <table border="2">
        <th>상세 정보</th>
            <tbody>
                    <tr><!-- 첫번째 줄 시작 -->
                        <td colspan="3" rowspan="3" id="img">
                            <img src="#">
                        </td>
                        <th class="text-center">제품명</th>
                        <td colspan="8" id="result_drug_name">
                            name
                        </td>
                    </tr><!-- 첫번째 줄 끝 -->
                    <tr><!-- 두번째 줄 시작 -->
                        <td colspan="8" rowspan="6">검색된 약의 정보</td>
                    </tr><!-- 두번째 줄 끝 -->
                    <tr><!--세번째 줄 시작-->
                    </tr>    <!--세번째 줄 끝 -->
                    <tr><!-- 네번째 시작 -->
                        <td colspan="3" rowspan="4">복용자 정보 별 약물 중복 여부</td>
                    </tr><!-- 네번째 끝 -->
                    <tr><!-- 다섯번째 시작 -->
                    </tr><!-- 다섯번째 끝 -->
                    <tr><!-- 여섯번째 시작 -->
                    </tr><!-- 여섯번째 끝 -->
                    <tr><!-- 일곱번째 시작 -->
                    </tr><!-- 일곱번째 끝 -->
            </tbody>
        </table>
    </div>
    </body>
{% endblock %}